@import "../../common/color.css";

.header {
  background-color: var(--blue);
  height: 60px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 15px 0px;
}
.logo img {
  height: 30px;
  width: 30px;
}
.logo p {
  color: var(--light-0);
  font-weight: 700;
  font-size: 1.1rem;
}
